/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5a88a2;
  color: #2C3333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
}

.box {
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
}

.hide {
  display: none;
}

/* Header */
header {
  background-color: #2C3333;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

nav input {
  width: 80px;
}

/* Main  */
h2 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 150px;
}

.cells-container {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  margin-top: 100px;
}

.num-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 60px;
  height: 60px;
}

.num-cell input {
  width: 80%;
  height: 80%;
  text-align: center;
  border:0;
  font-size: 1.2rem;
}

.check {
  text-align: center;
  margin-top: 100px;
}

.message {
  display: block;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-top: 100px;
}

